---
import ButtonVue from '../components/ButtonVue.vue';
import Layout from '../layouts/Layout.astro';
import { AFButton, AFCard } from '@af-library/react';
---

<Layout>
	<main class="af-min-h-dvh af-bg-black">
		<ButtonVue />
		<AFButton>Hello</AFButton>
		<AFCard>Hello</AFCard>
	</main>
</Layout>
