---
import Layout from '../layouts/Layout.astro';
import { AFButton, AFCard } from '@af-library/react';
import {  AFDialog } from '@af-library/vue';
---

<Layout>
	<main class="af-min-h-dvh af-bg-black">
		<AFButton>Hello</AFButton>
		<AFCard>Hello</AFCard>
		<AFDialog client:only="vue" />
	</main>
</Layout>
